html body {
    width: 100%;
    height: 100%;
    background-color: #F5EBC7;
    font-family: Bayon;
}

/* Navigation bar */
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color:white;
    background-color: green;
    border-radius: 20px;
    border-color: green;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    font-family: Khmer OS;
    color: aliceblue;
    text-shadow: 6px 6px 9px black;
}

nav.navbar img {
    width:56px;
    height:56px;
}

#zooname {
    color:lightgreen;
    font-family: khmer os;
    font-size: 150%;
    text-shadow: 6px 6px 9px black;
} 

/* Ticket type */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    /* background-color: #2196F3; */
    padding: 10px;
}

  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

a {
    color: black;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
} 

th, td {
    text-align: left;
    padding: 10px;
}

tr {
    height: 60px;
}

th {
    font-size: 22px;
    background-color: #86BA24;
    color: #f0ff00;
}

td {
    font-size: 18px;
    color: #375F26;
}

td.price-tag {
    font: normal normal normal normal 26px / 20px "Myriad W01 SmBd";
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.align-right {
    text-align: right; 
}

.span_1 {
    font-size: 14px;
    color: gray;
}


