html body{
    width: 100%;
    height :100%;
}
#zooname{
    color:lightgreen;
    font-family: khmer os;
    font-size: 150%;
    text-shadow: 6px 6px 9px black;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover{
    color:white;
    background-color: green;
    border-radius: 20px;
    border-color: green;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link{
    font-family: khmer os;
    color: aliceblue;
    text-shadow: 6px 6px 9px black;
}
nav.navbar img{
    width:56px;
    height:56px;
}
.carousel-inner img{
    width:100%;
    height:100%;
}
.carousel-inner button{
    border-radius: 25px;
    width: 200px;
    background-color:transparent;
    Color:white;
    border-color: white;
}
.carousel-inner button:hover{
    background-color: green;
    color:white;
    border-color: green;
    font-weight: bold;
}

.col-sm-4 a:hover{
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: green;
    border-radius: 25px;
    border-color: green;
}
.col-sm-12 a:hover{
    width:35;
    height:35;
}